<template>
    <el-form ref="formRef" v-model="formData" label-width="100px">
        <div class="content">
            <% config.formItems.forEach(function(item){ %>
                <el-form-item label="<%= item.label %>" prop="<%= item.prop %>">
                    <<%= item.tag %> v-model="formData.<%= item.prop %>"></<%= item.tag %>>
                </el-form-item>
            <% }); %>
        </div>
    </el-form>
</template>